Flask>=3.0.3
Flask-WTF>=1.2.1
Flask-Login>=0.6.3
SQLAlchemy>=2.0.31
Flask-SQLAlchemy>=3.1.1
email-validator>=2.2.0
markdown>=3.6
gunicorn>=22.0.0
feedparser>=6.0.11
beautifulsoup4>=4.12.3
requests>=2.32.3